<!-- @content -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#sentinel_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">

        <form action="" method="post" id="recals_hashes_form">
            <p>[#sentinel_notice_long_time#]</p>
            <input id="submit_button" type="button" onclick="jspub_form_submit('recals_hashes_form','%form_url%')" value="[#sentinel_button_recalc_hashes#]">
        </form>
        </div>
    </div>
</div>