<!--

Шаблон формы внешнего фильтра

Содержит секции и переменные:

@begin - Блок-секция, которая определяет внешний вид начала формы внешнего фильтра
@end - Блок-секция, которая определяет внешний вид конец формы внешнего фильтра

%action% - Переменная блока секции @begin, в которой выводится текущий адрес страницы-обработчика с выводом выборки по внутреннему фильтру.
%header% - Переменная блока секции @begin, в которой выводится заголовок блока фильтров. Назначается в настройках публичного действия.
%options% - Переменная блока секции @begin, в которой выводится набор опций внешнего фильтра.

@option_number - Блок-секция, которая определяет внешний вид составляющей опции фильтра для типа свойств "число"
@options - Блок-секция, которая определяет внешний вид опции фильтра для NUMBER, ENUM и SET свойств, где %option_title% - название свойства, %option% - генерируемое и подставляемой в шаблон поле формы, в зависимости от типа свойства (enum, set, number) из числа общих свойств, или свойств товарной группы 
@option_enum - Блок-секция, которая определяет внешний вид составляющей опции фильтра для типа свойств "выбор значения" ENUM 
@option_set - Блок-секция, которая определяет внешний вид составляющей опции фильтра для типа свойств "выбор значения" SET

%option_id% - Переменная блока секции @option_number, @option_enum или @option_set. Определяет порядковый ID поля формы
%option_name% - Переменная блока секции @option_number, @option_enum или @option_set. Определяет универсальный ID поля формы
%option_title% - Переменная блока секции @option_number, @option_enum или @option_set. Определяет заголовок поля формы
%option_value% - Переменная блока секции @option_number, @option_enum или @option_set. Определяет значение поля формы

%option_counter% - Переменная блока секции @option_enum или @option_set. Определяет счётчик доступных товаров с данным значением поля формы.
%option_checked% - Переменная блока секции @option_enum или @option_set. Определяет была отмечена ли данная опции при отправке формы фильтра.

@option_counter - Блок-секция, которая определяет внешний вид счётчика товаров с данным значением поля формы.
@option_counter_null - Блок-секция, которая определяет внешний вид счётчика, если товаров со значением поля формы в каталоге нет.

@all_counter - Блок-секция, которая определяет внешний вид счётчика всех товаров
@all_counter_null - Блок-секция, которая определяет внешний вид счётчика, если товаров в каталоге нет.

@no_data - Блок-секция, которая определяет внешний вид формы внешнего фильтра, если нет опций для отображения

-->

<!-- @begin -->
<h3>%header%</h3>
<form action="%action%" method="post">
%options%

<!-- @end -->
    %all_counter%
    <div class="input-group">
        <fieldset>
            <button type="submit">Фильтр товаров</button>
        </fieldset>
    </div>
    <input type="submit" value="Фильтровать">
</form>

<!-- @options -->
    <div class="input-group">
        <h4>%option_title%:</h4>
        %option%
    </div>
<!-- @option_number --><fieldset>
            <input name="%option_name%_min" type="text" value="%option_min_value%" /> - <input name="%option_name%_max" type="text" value="%option_max_value%" />
        </fieldset>

<!-- @option_enum --><fieldset>
            <input type="radio" name="%option_name%" value="%option_value%" %option_checked% />
            <label for="outerFilter-%option_id%"> - %option_value%%option_counter%</label>
        </fieldset>

<!-- @option_set --><fieldset>
            <input type="checkbox" name="%option_name%[%option_value%]" value="%option_value%" %option_checked% />
            <label for="outerFilter-%option_id%"> - %option_value%%option_counter%</label>
        </fieldset>

<!-- @option_counter --> (%count%)
<!-- @option_counter_null --> (0)
<!-- @all_counter --> Всего товаров: %count%
<!-- @all_counter_null -->
<!-- @no_data -->