<!--
Форма восстановления забытого пароля

@form - шаблон самой формы
@captcha, @recaptcha - форма капчи/рекапчи
@sended - сообщение о том, что отослан логин
@incorrect_captcha - не пройдена капча
@incorrect - сообщение о неправильном логине

@mail - текст письма

 -->

<!-- ****************************************** Шаблон формы ****************************************** -->
<!-- @form -->
<h2>Забыли пароль?</h2>
<p>Введите Ваш Логин, который вы указали при регистрации для восстановления пароля. <br>
На Ваш почтовый ящик будет выслано письмо с инструкциями.</p>

<form action="" method="POST">
Ваш логин: <input type="text" name="rem[login]"><br><br>
%captcha%
<input type="submit" value="Восстановить пароль">
</form>
<!-- @recaptcha -->
<label for="auth_recaptcha">Антиспам защита:</label><br>
<div id="auth_recaptcha" class="g-recaptcha" data-recaptcha="%recaptcha_key%"></div>
<!-- @captcha -->
<label for="auth_captcha">Введите цифры с картинки:</label><br>
<img src="%captcha_img_url%" width="125" height="41" alt="captcha" />
<input id="auth_captcha" type="text" class="text" name="captcha" value="" />

<!-- ****************************************** Сообщения ****************************************** -->
<!-- @sended -->
<h2>Письмо с инструкциями  отправлено по почте, указанной Вами в личном кабинете.</h2>

<!-- @incorrect -->
<h2>Вы не правильно ввели свой логин, попробуйте еще раз.</h1>

<!-- @incorrect_captcha -->
<h2>Вы не прошли проверку на робота!</h2>

<!-- ****************************************** Шаблон письма ****************************************** -->
<!-- @mail -->
Ваш логин: %login%<br>
Ваш пароль: %password%


