<!-- @user -->
<h3>Информация о пользователе</h3>
<ul>
%lines%
<ul>
<a href="%page_cab%">В личный кабинет</a>
<!-- @user_line --><li><b>%name%:</b> %value%</li>
<!-- @not_authorized -->
<p>Вы должны быть авторизованы, чтобы просматривать данную информацию.</p>